bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

SC.Architecture.Test/TestResults
Logs/
.vs/
.idea/
.vscode/

# Visual Studio / MSBuild user & cache files
*.suo
*.user
*.rsuser
*.csproj.user
*.csproj.iscache
*.csproj.lscache
*.vsidx
